*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
div{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5vh;
    padding: 3rem;
    background: radial-gradient(circle, green, white, red, white);
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div p{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 5%;
    height: auto;
}